<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alugue já...</title>
    <link rel="icon" href="/static/images/car.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous" defer></script>
    <script src="/static/script.js" defer></script>
    <script src="https://kit.fontawesome.com/6ad1eade19.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="bg-secondary">
    <main class="container-sm bg-light mt-4 p-4">
        <h1 class="text-center">Alugue já, seu carro do seu jeito!!!</h1>
        <section class="container mt-5">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="input-group">
                        <button class="col-5 btn btn-dark text-nowrap" onclick="loadCarros()">Buscar todos</button>
                        <button class="col-5 btn btn-primary text-nowrap" onclick="loadCarro()">Buscar carro</button>
                        <input type="number" min="1" id="input_get_id" class="col-2 form-control" placeholder="ID">
                    </div>
                </div>
                <button type="button" class="col-12 col-lg-6 btn btn-dark" data-bs-toggle="modal" data-bs-target="#addModal">Adicionar carro</button>
            </div>
            <!-- Modal adicionar carro -->
            <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="addModalLabel">Adicionar carro a lista</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="input-group">
                                <input type="text" id="input_post_modelo" class="col-6 form-control" placeholder="Modelo">
                                <input type="tel" id="input_post_marca" class="col-6 form-control" placeholder="Marca">
                                <input type="tel" id="input_post_ano" class="col-6 form-control" placeholder="Ano">
                            </div>
                            <input type="tel" id="input_post_vDiaria" class="col-6 form-control mt-2" placeholder="Valor diária">
                            <textarea id="input_post_observacoes" class="col-6 form-control mt-2" placeholder="Observacoes" rows="3"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="col-6 btn btn-dark" onclick="postCarro()" data-bs-dismiss="modal">Adicionar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal editar carro -->
            <div class="modal fade" id="attModal" tabindex="-1" aria-labelledby="attModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="attModalLabel">Atualizar carro</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="input-group">
                                <input type="text" id="input_put_modelo" class="col form-control" placeholder="Modelo">
                                <input type="tel" id="input_put_marca" class="col form-control" placeholder="Marca">
                                <input type="tel" id="input_put_ano" class="col-6 form-control" placeholder="Ano">
                            </div>
                            <input type="tel" id="input_put_vDiaria" class="col-6 form-control mt-2" placeholder="Valor diária">
                            <textarea id="input_put_observacoes" class="col-6 form-control mt-2" placeholder="Observacoes" rows="3"></textarea>
                            <select id="input_put_status" class="form-select form-select mt-2" aria-label=".form-select">
                                <option value="livre">Livre</option>                                
                                <option value="alugado">Alugado</option>
                                <option value="manutencao">Manutenção</option>
                            </select>
                            <div class="input-group mt-2">
                                <input type="number" class="form-control col-1" disabled id="input_put_id" placeholder="ID" aria-label="ID" aria-describedby="button-addon2">
                                <button class="btn btn-dark col-10" onclick="updateCarro()" data-bs-dismiss="modal">Atualizar carro</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="container mt-4 pb-4">
            <table class="table">
                <thead class="bg-info align-middle">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Modelo / Marca / Ano</th>
                        <th scope="col">
                            <div class="dropdown">
                                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Valor da diaria
                                </button>
                                <ul class="dropdown-menu">
                                    <li><button id="btn_crescente" class="dropdown-item">Crescente</button></li>
                                    <li><button id="btn_decrescente" class="dropdown-item">Decrescente</button></li>
                                </ul>
                            </div>
                        </th>
                        <th scope="col">
                            <div class="dropdown">
                                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Status
                                </button>
                                <ul class="dropdown-menu">
                                    <li><button id="btn_livre" class="dropdown-item">Livre</button></li>
                                    <li><button id="btn_alugado" class="dropdown-item">Alugado</button></li>
                                    <li><button id="btn_manutencao" class="dropdown-item">Manutenção</button></li>
                                </ul>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody class="table__tbody align-middle">
                </tbody>
            </table>
            <div id="loader"></div>
        </section>
    </main>
</body>
</html>
